<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog</title>
    <link rel="stylesheet" href="/new-style.css">
</head>
<body>
    <div class="new-blog-conatainer">
        
        <div class="new-blog">
            <h1>New blog</h1>
            <form method="post" action="/posts">
                <input type="text" name="username" placeholder="Enter Username" class="inp"><br><br>
                <input type="text" name="topic" placeholder="Enter Topic" class="inp"><br><br>
                <textarea name="content" placeholder="Enter content" rows="20" class="inp"></textarea><br><br>
                <button>Submit</button>
            </form>

        </div>
    </div>
    
</body>
</html>